In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('nifty.csv',skiprows=10,nrows=10)

In [4]:
df

         BPCL  EQ
0  BHARTIARTL  EQ
1   BRITANNIA  EQ
2       CIPLA  EQ
3   COALINDIA  EQ
4     DRREDDY  EQ
5   EICHERMOT  EQ
6      GRASIM  EQ
7     HCLTECH  EQ
8    HDFCBANK  EQ
9    HDFCLIFE  EQ

In [7]:
df1=pd.read_csv('nifty.csv')

In [8]:
df1

        Symbol Series
0     ADANIENT     EQ
1   ADANIPORTS     EQ
2   APOLLOHOSP     EQ
3   ASIANPAINT     EQ
4     AXISBANK     EQ
5   BAJAJ-AUTO     EQ
6   BAJFINANCE     EQ
7   BAJAJFINSV     EQ
8          BEL     EQ
9         BPCL     EQ
10  BHARTIARTL     EQ
11   BRITANNIA     EQ
12       CIPLA     EQ
13   COALINDIA     EQ
14     DRREDDY     EQ
15   EICHERMOT     EQ
16      GRASIM     EQ
17     HCLTECH     EQ
18    HDFCBANK     EQ
19    HDFCLIFE     EQ
20  HEROMOTOCO     EQ
21    HINDALCO     EQ
22  HINDUNILVR     EQ
23   ICICIBANK     EQ
24         ITC     EQ
25  INDUSINDBK     EQ
26        INFY     EQ
27    JSWSTEEL     EQ
28   KOTAKBANK     EQ
29          LT     EQ
30         M&M     EQ
31      MARUTI     EQ
32        NTPC     EQ
33   NESTLEIND     EQ
34        ONGC     EQ
35   POWERGRID     EQ
36    RELIANCE     EQ
37     SBILIFE     EQ
38  SHRIRAMFIN     EQ
39        SBIN     EQ
40   SUNPHARMA     EQ
41         TCS     EQ
42  TATACONSUM     EQ
43  TATAMOTORS     EQ
44   TATASTEEL     EQ
45       TECHM     EQ
46       TITAN     EQ
47       TRENT     EQ
48  ULTRACEMCO     EQ
49       WIPRO     EQ